.project-egci
{
	position:fixed;
	z-index:1;
	//zoom: 200%;
	background-color: #f8f9fa;
	top:11%;
	margin-top:0px;
	opacity:70%;
	//margin-right:50%;
	right:1%;
	width:225px;
	
	
}

.minimized
{
	position:fixed;
	z-index:1;
	background-color: #f8f9fa;
	top:12%;
	margin-top:0px;
	opacity:70%;
	right:1%;
	width:30px;
	height:20px;
	
}

.minimized:hover
{
	position:fixed;
	z-index:1;
	background-color: #f8f9fa;
	top:12%;
	margin-top:0px;
	opacity:100%;
	right:1%;
	width:30px;
	height:20px;
	
}



.project-egci:hover
{
	position:fixed;
	z-index:1;
	//zoom: 200%;
	background-color: #f8f9fa;
	top:11%;
	margin-top:0px;
	opacity:100%;
	//margin-right:50%;
	right:1%;
	width:225px;
	/*height:100px;*/
	
}

.project-egci-content
{
	padding: 2px 2px 2px 2px;
}

.project-dropdown
{
	width:200px;
}

.invisible
{
	display:none;
}